html, body {
    margin: 0;
}
/* BODY */


/*  TOP YELLOW BAR
.backGround1 {
    background-color: #F6B432;
    width: 100vw;
    height: 60px;
    margin: 0px;
    padding: 0px;
    border: 5px #F6B432;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
    font-family: verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}
*/
/*.learnbtn {
    font-family: verdana, Arial, Helvetica, sans-serif;
    background-color:#333336;
    border-radius: 5px;
    color: white !important;

}
a {
    color: white !important;
}*/


/* NAV BAR */

nav {
    background-color: #333336  ;
    background-image: url("mobile-shield.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*padding: 15px;*/
    z-index: 1;
    font-family: verdana, Arial, Helvetica, sans-serif;
}

nav li {
    padding: 0.5em;
}

nav ul li {
    display: inline-block; 
    padding: 5px 30px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}



/*.navbtn {
    color: white;
    border: none;
    outline: none;
    background-color: inherit;
}*/




/*FONT */
h1 {
    font-family: verdana, Arial, Helvetica, sans-serif;
}
h2 {
    font-family: verdana, Arial, Helvetica, sans-serif;
}

p {
    font-family: verdana, Arial, Helvetica, sans-serif;
}

 .courseInfo {
     text-align: center;
     color: #1283BF ;
 }




/*VIDEO */
#promoVideo {
    position: sticky;
    right: 0px;
    bottom: 0px;
    left:0px;
    top: 100px;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }

  
  
  /* Add some content at the bottom of the video/page */
  .videocontent {
    position: absolute;
    
    left: 30%;
    right: 30%;
    bottom: 30%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: fit-content;
    padding: 40px;
    font-family: verdana, Arial, Helvetica, sans-serif;
    text-align: center; 
  }

  .videocontent2 {
    background: rgba(247, 6, 6, 0.5);
    color: #f1f1f1;
    width: fit-content;
    padding: 20px;
    margin: 50px;
    font-family: verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    z-index: 1;
    position: absolute;
    left: -7%;
    
  }

  /* Background */

  .corInfoSection {
      background-color:#E6E8E9  ;
      padding: 0px;
      width: 100%;
      height: 600px;
      margin: 0px;
  }

  /* IMAGES */


  /*.redShield {  
    bottom: 15px;
    height: 4%;
    width: 4%;
  }*/

  /* FLEX BOXES */

  .flex-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 -5px;
      
  }

  .innerbox {
      background-color: white;
      width: 250px;
      height: 350px;
      border: 1px solid white;
      display: flex;
      align-content: center;
      align-items: flex-start;
      
      margin: 0 5px;
      flex-wrap: wrap;
      padding: 20px;

  }


  .flex-containerTwo {
      display: flex;
      justify-content: center;
      margin: 5em 15em 5em 15em;
  }

  #box4 {
      display: flex;
      align-items: center;
  }

  .shieldLogo {
      display: flex;
      justify-content: center;
      background-color: white;
      width: 100%;
  }

  #box5 {
      padding: 2em 4em 2em 2em;
  }